<%= @post.id %>의 글
<hr>
title : <%= @post.title %>
<hr>
content : <%= @post.content %>
<hr>
<a href="/posts/edit/<%= post.id %>"> 수 정 </a>
<a href="/posts/destroy/<%= post.id %>"> 삭 제 </a>
<a href="/posts/index">홈으로가기</a>